*{
	margin: 0;
	padding: 0;
}


.logo{
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1cm;
}

.logo img{
	width: 90px;
	border: 2px solid white;
}

.navbar{
	width: 100%;
	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	cursor: pointer;
	text-transform: uppercase;
	background: rgba(0,0,0,0.8);

}


.nav-list{
	width: 60%;
	/*background-color: black;*/
	display: flex;
	align-items: center;
	font-family: "Josefin Sans";

}

.nav-list li{
	list-style: none;
	padding: 26px 30px;
	justify-content: space-around;

}

.nav-list li a{
	text-decoration: none;
	color: white;
	width: 25%;

}

.nav-list li a:hover{
	text-decoration: none;
	color: gray;

}

.rightnav{
	width: 50%;
	text-align: right;
	padding: 0 23px;
	font-family: "Josefin Sans";

}

/* nav .nav-list li a:first-child{
	color: gray;
} */

#go{
	padding: 5px;
	font-size: 17px;
	border: 2px solid grey;
	border-radius: 9px;
}

.background{
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('pic2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.firstSection{
	height: 100vh;
}


.box-main{
	display: flex;
	justify-content: left;
	align-items: center;
	color: white;
	font-family: "Josefin Sans";
	max-width: 100%;
	margin: auto;
	height: 30%;
}

.firstHalf{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	margin-left: 0px;
}

.secondHalf{
	width: 40%;
	align-items: center;
}

/* .video{
	width: 70%;
	border: 4px solid white;
	border-radius: 150px;
	display: block;
	margin-right: auto;
	align-items: center;
} */

.text-big{
	font-size: 37px;
	color: red;
	font-family: "Josefin Sans";
}

.text-small{
	font-size: 18px;
}

.btn{
	padding: 8px 20px;
	margin: 7px 0;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-family: "Josefin Sans";
	align-items: center;
	justify-content: center;
	margin: auto;
	text-transform: uppercase;
}

.change_content::after{
	content: '';
	animation: changetext 3s infinite linear;
	color: #fffff0;  

}

@keyframes changetext {
	0%{content: "- Ride Together!!!";}
	100%{content: "- Save Together!!!";}
}

/* .background .firstSection .a{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;
	letter-spacing: 1px;
} */

/* .btnone{
	background: white;
	color: #000;
} */

/* .btntwo{
	background: #00b894;
	color: white;
} */

.btntwo{
	width: 960px;
	padding: 8px 20px;
	margin: 7px 0;
	border: 2px solid white;
	border-radius: 8px;
	background: red;
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-family: "Josefin Sans";
	margin: auto;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: 80px;
}


.action_btn{
	width: 500px;
	margin: 0 auto;
}

video{
	display: block;
	margin-right: auto;
	align-items: right;
	margin: auto;
	margin-left: 900px;
	height: auto;
}